apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: system-upgrade

resources:
  - https://github.com/rancher/system-upgrade-controller/releases/v0.18.0/download/crd.yaml
  - https://github.com/rancher/system-upgrade-controller/releases/v0.18.0/download/system-upgrade-controller.yaml
