- name: "Reset flannel and CNI on k3s agents"
  hosts: pine_cluster_agent
  tags: agents
  become: yes
  tasks:
    - name: Stop k3s agent
      systemd:
        name: k3s-agent
        state: stopped
    - name: Remove flannel and CNI state
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - /run/flannel
        - /var/lib/cni
    - name: Start k3s agent
      systemd:
        name: k3s-agent
        state: started

- name: "Reset flannel and CNI on k3s servers"
  hosts: pine_cluster_server
  tags: servers
  become: yes
  tasks:
    - name: Stop k3s server
      systemd:
        name: k3s
        state: stopped
    - name: Remove flannel and CNI state
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - /run/flannel
        - /var/lib/cni
        - /mnt/ssd/k3s/agent/etc/cni/net.d
    - name: Start k3s server
      systemd:
        name: k3s
        state: started

